<div class='panel panel-default' >
	<div class='panel-heading' ><h4>Izveštaji</h4></div>

	<div class="list-group" style="margin: 3% 10px; font-size: 20px;">
		<a href="/zavrsni/#/dnevni" class="list-group-item list-group-item-info">Dnevni izveštaj</a><br/>
		<a href="/zavrsni/#/nedeljni" class="list-group-item list-group-item-info">Nedeljni izveštaj</a><br/>
		<a href="/zavrsni/#/mesecni" class="list-group-item list-group-item-info">Mesečni izveštaj</a><br/>
		<a href="/zavrsni/#/godisnji" class="list-group-item list-group-item-info">Godišnji izveštaj</a><br/>
	</div>
</div>
