<div class='panel panel-default' >
    <div class='panel-heading'>
        <h3>Admin</h3>
    </div>

<div class="list-group" style="margin: 3% 10px; font-size: 20px;">
	<a href="/zavrsni/#/zaposleni" class="list-group-item list-group-item-info">Zaposleni</a><br/>
	<a href="/zavrsni/#/artikli" class="list-group-item list-group-item-info">Artikli</a><br/>
	<a href="/zavrsni/#/kategorije" class="list-group-item list-group-item-info">Kategorije</a><br/>
	<a href="/zavrsni/#/distributeri" class="list-group-item list-group-item-info">Distributeri</a><br/>
	<a href="/zavrsni/#/porudzbine" class="list-group-item list-group-item-info">Porudžbine</a><br/>
	<a href="/zavrsni/#/stolovi" class="list-group-item list-group-item-info">Stolovi</a><br/>
	<a href="/zavrsni/#/izvestaji" class="list-group-item list-group-item-info">Izveštaji</a><br/>
	<a href="" ng-click="logout()" class="list-group-item list-group-item-info">Odjava</a>
</div></div>