<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer",
                {
                    title:{
                        text: "Godisnji izvestaj"
                    },
                    axisX:{
                        title: "Datum",
                        gridThickness: 1
                    },
                    axisY: {
                        title: "Prihodi"
                    },
                    data: [
                        {
                            type: "area",
                            dataPoints: [//array
                                { x: new Date(2014, 10, 07), y: 1215},
                                { x: new Date(2014, 10, 06), y: 660},
                                { x: new Date(2014, 10, 05), y: 2185},
                                { x: new Date(2014, 10, 03), y: 300},
                                { x: new Date(2014, 09, 29), y: 300},
                                { x: new Date(2014, 09, 28), y: 600},
                                { x: new Date(2014, 09, 27), y: 800},
                                { x: new Date(2014, 09, 26), y: 200},
                                { x: new Date(2014, 09, 09), y: 310},
                                { x: new Date(2014, 09, 08), y: 465},
                                { x: new Date(2014, 09, 07), y: 605},
                                { x: new Date(2014, 09, 06), y: 580},
                                { x: new Date(2014, 07, 20), y: 260},
                                { x: new Date(2014, 07, 17), y: 300},
                                { x: new Date(2014, 07, 15), y: 510},
                                { x: new Date(2014, 07, 11), y: 810},
                                { x: new Date(2014, 07, 10), y: 480},
                                { x: new Date(2014, 07, 09), y: 305},
                                { x: new Date(2014, 07, 07), y: 260},
                                { x: new Date(2014, 07, 05), y: 350},
                                { x: new Date(2014, 07, 04), y: 520},
                                { x: new Date(2014, 07, 03), y: 500},
                                { x: new Date(2014, 07, 02), y: 430},
                                { x: new Date(2014, 06, 29), y: 420}
                            ]
                        }
                    ]
                });

        chart.render();
    }
</script>
<!--<script type="text/javascript" src="js/canvasjs.js"></script>
<div id="chartContainer" style="height: 300px; width: 100%;">-->
<div class='panel-heading' ><h4>Izveštaji</h4></div>
<div class='panel panel-default' >

	<div class="list-group" style="margin: 3% 10px; font-size: 20px;">
		<a href="/zavrsni/#/dnevni" class="list-group-item list-group-item-info">Dnevni izveštaj</a><br/>
		<a href="/zavrsni/#/nedeljni" class="list-group-item list-group-item-info">Nedeljni izveštaj</a><br/>
		<a href="/zavrsni/#/mesecni" class="list-group-item list-group-item-info">Mesečni izveštaj</a><br/>
		<a href="/zavrsni/#/godisnji" class="list-group-item list-group-item-info">Godišnji izveštaj</a><br/>
	</div>

</div>
