<div class='panel panel-default' >
	<div class='panel-heading' ><h4>Konobar</h4></div>

	<div class="list-group" style="margin: 3% 10px; font-size: 20px;">
		<a href="" class="list-group-item list-group-item-info">Napravi porudžbinu</a><br/>
		<a href="/zavrsni/#/nerazduzeno" class="list-group-item list-group-item-info">Nenaplaćene porudžbine</a><br/>
		<a href="/zavrsni/#/sopstvene" class="list-group-item list-group-item-info">Pregledaj sopstvene porudžbine</a><br/>
		<a href="/zavrsni/#/izmena" class="list-group-item list-group-item-info">Izmeni podatke o profilu</a><br/>
	</div>
<div class="modal fade"  tabindex="-1" role="dialog" ng-include="'view/zaposleni-detalji.html'" id="editModal" aria-hidden="true">
</div>
