
<div>
    <h4 class="title">Porudžbina</h4>
</div>
<div >
    <form>
        <table style="width: 70%">
            <tr>
                <th>Razduženo</th>
                <th>Napravljena</th>
            </tr>
            <tr>
                <td>
                    <select style="width: 80%" ng-init="porudzbina.razduzeno=0" ng-model="porudzbina.razduzeno">
                        <option selected="selected" value="0">NE</option>
                        <option value="1">DA</option>
                    </select><br/>
                </td>
                <td>
                    <select style="width: 60%" ng-init="porudzbina.napravljena=0" ng-model="porudzbina.napravljena">
                        <option value="0">NE</option>
                        <option value="1">DA</option>
                    </select><br/>
                </td>
            </tr>
            <tr>
                <th>Sto</th>
                <th>Konobar</th>
            </tr>
            <tr>
                <td>
                    <select style="width: 80%" ng-model="porudzbina.stoID" ng-options="sto.stoID as sto.brojStola for sto in stolovi">
                        <option></option>
                    </select>
                </td>
                <td>
                    <select style="width: 60%" ng-model="porudzbina.konobarID" ng-options="konobar.konobarID as konobar.ime+' '+konobar.prezime for konobar in konobari | orderBy:'ime'">
                        <option></option>
                    </select><br/>
                </td>
            </tr>
        </table>


        <!--<label>Datum porudžbine</label><br/>
        <input type='text' ng-model="porudzbina.datumPorudzbine"/><br/>
        <label>Razduženo</label><br/>
        <select ng-init="porudzbina.razduzeno=0" ng-model="porudzbina.razduzeno">
            <option selected="selected" value="0">NE</option>
            <option value="1">DA</option>
        </select><br/>
        <label>Napravljena</label><br/>
        <select ng-init="porudzbina.napravljena=0" ng-model="porudzbina.napravljena">
            <option value="0">NE</option>
            <option value="1">DA</option>
        </select><br/>
        <label>Konobar</label><br/>
        <select ng-model="porudzbina.konobarID" ng-options="konobar.konobarID as konobar.ime+' '+konobar.prezime for konobar in konobari | orderBy:'ime'">
            <option></option>
        </select><br/>
        <label>Sto</label><br/>
        <select ng-model="porudzbina.stoID" ng-options="sto.stoID as sto.brojStola for sto in stolovi">
            <option></option>
        </select>-->
    </form><br/>
</div>
<div class="footer">
    <button type="button" class="btn btn-danger" onclick="window.location=''">Poništi unos</button>
    <button type="button" class="btn btn-primary" ng-click="poruci(porudzbina)">Sačuvaj izmene</button>
</div>
<hr/>

<div>
    <script>
        $("#dodaj").click(function () {
            $("#mytable").each(function () {
                var tds = '<tr>';
                jQuery.each($('tr:last td', this), function () {
                    tds += '<td>' + $(this).html() + '</td>';
                });
                tds += '</tr>';
                if ($('tbody', this).length > 0) {
                    $('tbody', this).append(tds);
                } else {
                    $(this).append(tds);
                }
            });
        });
    </script>
    <script>
        function deleteRow(t)
        {
            var row = t.parentNode.parentNode.rowIndex;
            document.getElementById("mytable").deleteRow(row);
        }
    </script>

    <h4 class="title">Stavke porudžbine &nbsp;</h4></br>
    <button class="btn btn-success" href="" title="" class="dodaj-red" id="dodaj">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Dodaj red
    </button>
</div><br/>
<div >
    <form>
        <table id="mytable">
            <thead><th>Artikal</th><th>Kolicina</th><th></th></thead>
            <tbody>
            <tr ng-model="stavke" style="margin: 5px;">
                <td style="margin: 10px;">
                    <select name="artikal" id="artikal" style="height: 25px;" ng-model="stavka.artikalID" ng-options="artikal.artikalID as artikal.nazivArtikla for artikal in artikli">
                        <option></option>
                    </select>
                </td>
                <td>
                    <input name="kolicina" id="kolicina" style="height: 25px;" type='text' ng-model="stavka.kolicina"/>
                </td>
                <td><input style="height: 25px; width: 50%;" class="btn btn-danger btn-xs" onclick="deleteRow(this)" value="Obriši red">

                </td>
            </tr>
            </tbody>
        </table>
    </form><br/>
</div>
<div class="footer">
    <button type="button" class="btn btn-danger" onclick="window.location='#/konobar'">Poništi unos</button>
    <button type="button" class="btn btn-primary" ng-click="dodaj(stavke)">Sačuvaj izmene</button>
</div>